@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  right: 0;
  left: 0;
  top: $header-height + $toolbar-height + $formula-height;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
    color: $border-color;
    user-select: none;

  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    height: 100%;
    border-top: none;
    border-left: none;
  }

  .cell {
    overflow: hidden;
    white-space: nowrap;
    color: #111111;
    min-width: 40px;
    width: $cell-width;
    padding: 5px;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    outline: none;
    &.selected {
      border: none;
      outline: 2px solid #003bff;
      z-index: 110;
    }
  }

  .col-resize {
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    background: #003bff;
    z-index: 120;
    opacity: 0;

    &:hover {
      opacity: 1!important;
    }
  }

  .row-resize {
    right: 0;
    left: 0;
    bottom: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}
