@import "variables";
@import "mixins";

.excel__toolbar {
  position: fixed;
  display: flex;
  top: $header-height;
  right: 0;
  left: 0;
  height: $toolbar-height;
  padding: 7px 10px;
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  & .button:first-child {
    margin-left: 0;
  }

  & .button {
    @include button(#003bff)
  }

  & .button__list {
    position: relative;
    margin: 0 10px;

    & .current {
      min-width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #eee;
      font-size: 18px;
      font-weight: bold;
      text-decoration: underline;
      transition: all .2s;
      border-radius: 5px 5px 0 0;

      &:hover {
        background-color: #c0c0c0;
        cursor: pointer;
        color: #fff;
      }
    }

    & .size-list {
      position: absolute;
      background: #fff;
      top: 30px;
      right: 0;
      left: 0;
      display: none;
      border-radius: 0 0 5px 5px;

      &.active {
        display: block;
        z-index: 100;
      }

      & .size-list__item {
        list-style: none;
        min-width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #eee;
        transition: all .2s;

        &:hover {
          background-color: #c0c0c0;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  & .button__fonts {
    position: relative;
    margin: 0 10px;
    border-radius: 5px;

    & .current {
      width: 100px;
      height: 30px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      border-radius: 5px;
      border: 2px solid #eee;

      &:hover {
        background-color: #c0c0c0;
        cursor: pointer;
        color: #fff;
      }
    }

    & .fonts-list {
      position: absolute;
      background: #fff;
      top: 30px;
      right: 0;
      left: 0;
      list-style: none;
      display: none;

      &.active {
        display: block;
        z-index: 100;
      }

      & .fonts-list__item {
        display: flex;
        align-items: center;
        min-width: 100%;
        height: 30px;
        padding-left: 15px;
        border: 2px solid #eee;
        font-size: 14px;

        &:hover {
          background-color: #c0c0c0;
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
}
